script
	function openFeedback()
	{
		$('#feedbackButton').remove();
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'obliquid'; // required: replace example with your forum shortname
		// The following are highly recommended additional parameters. Remove the slashes in front to use.
		// var disqus_identifier = 'unique_dynamic_id_1234';
		// var disqus_url = 'http://example.com/permalink-to-page.html';
		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	}

div.footerCont
	div.feedback.size6
		style
			.disqus_moduleBox a
			{
				padding: 0px;
				margin: 0px;
				background: transparent;
				text-shadow: none;
				text-decoration: none;
			}
			.disqus_moduleBox a:hover
			{
				padding: 0px;
				margin: 0px;
				background: transparent;
				color: #aaaaaa;
				text-decoration: none;
			}
			#disqus_thread h3 {
				font-size: 18px;
			}
		div(id="disqus_thread") 
		a(id='feedbackButton', onclick='openFeedback()') #{__i('comments')}
		a(href="http://disqus.com").dsq-brlink.textMini by
			span.logo-disqus Disqus
