div.footerCont
	div.footer.size6
		div.size1.floatLeft
			p(style='padding-right: 10px;') #{__i('sign in, or register, to manage your contents')}
		div.size2.floatLeft
			include login
		div.size1.floatLeft
			include lanSelector
		div.size1.floatLeft
			//
				p qui una colonna di testo per i footer... qui una colonna di testo per i footer... qui una colonna di testo per i footer... 
		div.size1.floatLeft
			//
				ul
					li qui una lista
					li qui una lista
					li qui una lista
					li qui una lista
					li qui una lista
				p sono un footer!
		div.clear
			