div.headerAdminCont
	div.headerAdmin.size6
		div.outerCont
			//logo
			div.floatLeft
				//- img(src='/images/logo/main_logo.png').floatLeft
				h3.floatLeft Admin:&nbsp;
			//menu
			div.floatLeft
				a(href='/users').floatLeft users
				a(href='/projects').floatLeft projects
			div.clear
