div.headerCont
	div.header.size6
		//logo+name
		div.size1.floatLeft
			a(href='/').floatLeft
				img(src='/images/logo/main_logo.png').floatLeft
				h3.floatLeft Butter
		//menu
		div.size5.floatLeft
			a(href='/').floatLeft progetti
			a(href='/').floatLeft saiddio
			a(href='/').floatLeft cosa
			a(href='/').floatLeft ancora...
		div.clear
