div.headerCont
	div.header.size6
		//logo+name
		div.size1.floatLeft
			a(href='/').floatLeft
				img(src='/images/logo/main_logo.png').floatLeft
				h3.floatLeft jslardo
		//menu
		div.size5.floatLeft
			a(href='/users').floatLeft #{__i('users')}
		div.clear
