div.outerCont
	h4 #{__i('languages')}
	div.innerCont
		each locale in app.i18n.getLocalesNames()
			if locale == app.i18n.getLocale()
				span.linkSelected #{locale}
			else
				a(href='/lan/#{locale}') #{locale}
