h1 #{__i('...because lardo is good')}
hr
h3 
	#{__i('jslardo is a social cms')}
hr
p #{__i('more info on')}
	a(href='https://github.com/obliquid/jslardo', target='_blank') github 
	| #{__i('or on')}
	a(href='http://obliquid.org', target='_blank') obliquid