!!!
html
	head
		include includes/layoutHeadersCommon
	body
		//- include includes/header
		//- if session.loggedIn
		//- include includes/headerAdmin
		div.bodyPopup
			div.body!= body //- la variabile body contiene il template principale della pagina (unescaped, altrimenti visualizza i tag html)
		//- include includes/footer
	