!!!
html
	head
		title jslardo
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(language='JavaScript', type='text/javascript', src='/javascripts/jq/jquery-last.min.js')
	body
		include includes/header
		- if ( session.loggedIn )
			include includes/headerAdmin
		div.bodyCont
			div.body.size6!= body //- la variabile body contiene il template principale della pagina (unescaped, altrimenti visualizza i tag html)
		include includes/footer
	