!!!
html
	head
		title jslardo
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(language='JavaScript', type='text/javascript', src='/javascripts/jq/jquery-last.min.js')
		script(language='JavaScript', type='text/javascript', src='/javascripts/jq/simplemodal/jquery.simplemodal.1.4.2.min.js')
		script(language='JavaScript', type='text/javascript', src='/javascripts/jslardo.js')
	body
		include includes/header
		div.bodyCont
			div.body.size6!= body //- la variabile body contiene il template principale della pagina (unescaped, altrimenti visualizza i tag html)
		//- if session.loggedIn
		//- include includes/headerAdmin
		include includes/footer
	