.detailRow
	h5.detailLabel #{field}:
		span.adminIcon.datatypeIcon.floatLeft
			img(src='#{icon}')
	//- h4.size2.floatRight #{content[field]}
	h5.size2.floatRight
		if content[field].refContents
			!= content[field].refContents
	//- 
		if description
			div.clear
			p.floatRight #{description}
	div.clear
	