.detailRow
	h5.detailLabel #{field}:
		span.adminIcon.datatypeIcon.floatLeft
			img(src='#{icon}')
	h4.size2.floatRight #{content[field]}
	if description
		div.clear
		span #{description}
	div.clear
	