.detailRow
	h5.detailLabel #{content.fieldNameFull}:
		span.adminIcon.datatypeIcon.floatLeft
			img(src='#{icon}')
	h4.size2.floatRight #{content[field]}
	//-
		if description
			div.clear
			p.floatRight #{description}
	div.clear