span.textMini #{trunc(content.fieldNameFull,20)}:
//- h6(title='#{content[field]}') #{trunc(content[field],15)}
h6(title='#{content[field].refContents}')
	if content[field].refContents
		!= trunc(content[field].refContents,15)